* {
  color: #393c41;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  /* display scrollbar off for firefox */
  scrollbar-width: none; 
}

/* display scroll off */
*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@keyframes animateDown {
  0%, 20%, 50%, 80%, 100% {
    transform:  translateY(0);
  }
  40%{
    transform: translateY(5px);
  }
  60%{
    transform: translateY(3px);
  }
}




